---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
---
<Layout title="Sruthin Gaddam | Exhibits">
<div class="prose max-w-none">
<h1 class="text-3xl font-bold mb-8">Exhibits</h1>
<div class="mb-12">
    <h2>Universal Access: Accessibility in Library World (1 west exhibit case): Sep 2024 — Jan 2025</h2>
    <p> 
        An exbibit featured on the first floor of the MSU Library showcasing several assistive technologies, hardware, and collections that are held and used at the MSU Libraries. Under the leadership of Heidi Schroeder, I collaborated with Jonah Magar and curated video games and assistive technology used in video games that are available at the MSU Libraries for the exhibit. With the design guidance from Shelby Kroske, me and Austin Deneau developed an online version of the <a href="https://lib.msu.edu/exhibits/universal-access-accessibility-in-library-world">Universal Access: Accessibility in Library World</a>  (Figure 1) exhibit. The crown jewels of this online version are the <a href="https://lib.msu.edu/exhibits/universal-access-accessibility-in-library-world/vision-deficiency-simulator"> Color Vision Deficiency Simulator</a> (Figure 2) which helps simulate various color vision deficiencies and the <a href="https://lib.msu.edu/exhibits/universal-access-accessibility-in-library-world/tactile-map"> Interactive 3D Map</a> (Figure 3) of the first floor of the MSU Library.
    <p>
    <p> 
        This exhibit was featured in an MSU Today article titled <a href="https://msutoday.msu.edu/news/2025/universal-access-exhibit-at-msu-libraries">“'Universal Access' exhibit at MSU Libraries highlights commitment to accessibility”</a>
    </p>
    <div class="grid grid-cols-1 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
        <Figure
            path="/src/assets/images/mainExhibit.jpg"
            alt="A galss display case showcasing typewriter and assistive technology"
            caption="Figure 1: Display case showcasing Assistive Technology"
            width="100%"
            height="100%"
            />
    </div>
    <div class="grid grid-cols-1 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
        <Figure
            path="/src/assets/images/visionSimulator.png"
            alt="A fruit stand with multi colored fruits"
            caption="Figure 2: Color Vision Deficiency Simulator on the online version of the exhibit"
            width="100%"
            height="100%"
            />
    </div>
    <div class="grid grid-cols-1 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
        <Figure
            path="/src/assets/images/3dMap.png"
            alt="A raised tactile map of the first floor of the library"
            caption="Figure 3: Interactive 3D map of the first floor of the library on the online exhibit"
            width="100%"
            height="100%"
            />
    </div>
    <h2>Advancing Accessibility: A Timeline (2 west exhibit case): Dec 2022 — Apr 2023</h2>
    <p> 
        In collaboration with the WebUX, Accessibility, and University Archives teams, I contributed to the development of an exhibit displayed in the 2 West exhibit case of the MSU Main Library. This exhibit highlights the evolution of accessibility from the 1800s to the present day, showcasing key milestones and innovations (Figure 4).
    </p>
    <p> 
        My primary role focused on identifying accessible gaming controllers that represent significant technological advancements. I worked closely with the Digital Media Center to acquire these devices for display, ensuring they were both historically relevant and engaging for visitors. In addition to my contributions to the physical exhibit, I led the development of its <a href="https://lib.msu.edu/exhibits/advancing-accessibility">online exhibit</a> notably designing the <a href="https://lib.msu.edu/exhibits/advancing-accessibility/timeline">interactive timeline page</a> that illustrates the progression of accessibility innovations over time.
    </p>
    <div class="grid grid-cols-1 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
        <Figure
            path="/src/assets/images/2wExhibit.png"
            alt="A display case showcasing a books and several printed materials"
            caption="Figure 4: Advancing Accessibility: A Timeline exhibit case"
            width="100%"
            height="100%"
            />
    </div>
</div>
</Layout