---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | Annotated Goals">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">Annotated Goals</h1>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Dec 2022 — March 2023</h2>
            <h3>Launch the new Drupal9 MSUL website</h3>
            <dl>
                <dt></dt>
                <dd style="padding: 0;"></dd>
            </dl>
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>2023 — 2024</h2>
            <h3>Launch the new Drupal9 MSUL website</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">This involved developing the desktop and mobile versions of all the major functionalities offered by the MSU Libraries website which include, developing the MSUL main homepage, branch homepages, search & discovery for the main library and all the branch libraries, setting up news, events & alerts on all branch library pages, assisting with content migration, addressing issues that were identified during testing and through feedback form, and setting up analytics for the new site. We launched the site on Aug 17th 2023.</dd>
            </dl>
            <h3>Collaborate with the A11Y team to identify improvements and incorporate them on the new site.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">I collaborated closely with Austin Deneau to identify several accessibility improvements that can be implemented on our homepage, branch homepages, search pages, hours pages, and our alerts system. We collaboratively worked on finding potential solutions to the identified issues and were able to implement them on the aforementioned pages. We took this collaboration to the next level by closely working together during the development phase and integrating this step into our  ticketing and testing process and pushing out quality software which is more usable and accessible.</dd>
            </dl>
            <h3>Create a usability test plan and conduct usability testing on the new Branch Library homepages.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">I collaborated with Austin Deneau and Shelby Kroske and contacted all the branch heads to identify the core functions of their homepages. Upon receiving the details from branch heads, we drafted  UX tasks around these core functions, recruited participants from the main library and the XA program at MSU and conducted a User Journey Mapping exercise. Participants were asked to perform a series of  tasks as we moderate and document findings. We were able to find UX issues with our header navigation, hours section, and some visual consistencies leading to confusion because the branch pages are too similar to the main library homepage. These findings were documented and will be addressed through some design changes and development work on these pages.</dd>
            </dl>
            <h3>Prepare for IAAP CPACC certification and pass the exam.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">To prepare for the IAAP CPACC certification exam, I took a 10 week long prep course in Summer 2023. This course, taught by Kevin Henley from MSU IT, is aimed at preparing individuals for the exam by providing course materials, facilitating group discussions, and mock quizzes. The current exam schedule is March 13th through April 17th. My exam was on April 17th and I received the certification in June.</dd>
            </dl>
            <h3>Conduct A11y tests on SpringShare products and document recommendations and implement fixes where possible.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">The a11y testing for the Springshare projects was done by University of Tennessee, Knoxville and student employees in the Accessibility unit. I collaborated with Austin Deneau to implement fixes on the LibGuides site, and documented our changes in a GitHub repository. We worked on the LibCal system and implemented a11y fixes on various pages as the system allowed. We need Springshare to update some functionality on their end, which are documented. Springshare is rolling out a big update in Summer 2024 which hopefully will address some of the issues that are beyond our control.</dd>
            </dl>
            <h3>Present  at ALA  CORE forum on “Exploring cutting edge alternatives to Google Analytics: Things we learned along the way”.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">In collaboration with Jenny Brandon, I was able to craft a successful proposal, attend the ALA Core Forum in Oct 2023 and present on the topic.</dd>
            </dl>
        </div>
        <div class="pb-4">
            <h2>2024 — 2025</h2>
            <h3>Launch the new TIC Drupal10 website.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">This project entailed developing a new application stack for the TIC website, ensuring the server was adequately resourced to manage traffic for both Mainweb and TIC sites, and configuring a new edge router to appropriately redirect web traffic. I also developed various TIC searches, which are central to the website's functionality, and implemented measures to effectively block malicious bots. We successfully launched the new TIC website on January 6, 2025.</dd>
            </dl>
            <h3>Create a usability test plan and conduct usability testing on the new TIC website in collaboration with the TGIF unit and their clients.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">In-Progress</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">While I successfully eliminated several software bugs and improved the design and usability of the new TIC site, I faced time constraints for doing UX testing due to a tight launch deadline.
Shelby Kroske and I initiated a dialogue with Andrew Lundeen regarding UX testing. Andrew advised us to reach out to faculty members who use the TIC searches, to gauge their interest in participating. We plan to contact them in the summer, after completing another major project, with the expectation that faculty will have more availability during that period.</dd>
            </dl>
            <h3>Disseminate our research and processes and techniques to the wider UX/Library community</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;"></dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">In July 2025, Shelby Kroske and I submitted a proposal to teach a UX workshop to the Digital Library Federation (DLF) conference, which was accepted. This focused on how to conduct and lead UX research with minimal resources, presenting several case studies from the MSU Libraries to illustrate our points.
The workshop was well-received, and one participant was so impressed that they invited us to conduct a similar workshop for the Society of American Archivists. Shelby Kroske and I gladly accepted this invitation and successfully ran the same workshop again in February 2025.
This experience not only allowed us to share our expertise with a broader audience but also helped us forge valuable connections within the professional community.</dd>
            </dl>
            <h3>Complete User Experience Research and Design Specialization Certification Course via UofM.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">The 10-week University of Michigan course, running from February to April 2025. It involves watching lectures from university instructors and completing homework assignments. </dd>
            </dl>
            <h3>Establish a sustainable UX/A11y testing program in collaboration with RCPD.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">On-going/Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">This goal involved establishing a relationship with the Resource Center for Persons with Disabilities (RCPD) to recruit students for UX research, aiming to better understand their needs. As our team embarked on a significant ILS redesign, I reached out to Heidi Schroeder, who facilitated our connection with the RCPD team.
We successfully reached out to RCPD students for UX testing; the timing of our testing in December and January resulted in lack of interest from the students, but we were encouraged to reach out again for future projects.
Having established a relationship and set expectations with RCPD, I am now brainstorming ways to involve these students in the upcoming Digital Signage upgrades scheduled for April.</dd>
            </dl>
            <h3>Explore opportunities to participate or lead in national level committees such as ALA Core.</h3>
            <dl>
                <dt>Status</dt>
                <dd style="padding: 0;">Completed</dd>
                <dt>Annotations</dt>
                <dd style="padding: 0;">Upon the recommendation of Kelly Sattler, I had the privilege of joining the ALA Core Forum Web Committee. This committee is tasked with maintaining the ALA Core website, which serves as a central hub for information on upcoming and past conferences, as well as awards.
Since joining, I have actively contributed to several UX and accessibility improvements, enhancing the user experience and ensuring the site is accessible to all visitors.I am in line for a co-chair position next year, which will allow me to take on a more significant leadership role within the committee.</dd>
            </dl>
        </div>
    </div>
</Layout>