---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | International Committees">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">International Committees</h1>
        <div class="pb-4">
            <h2>Drupal birds of a feather flock together cohort</h2>
            <p>
                As part of a cross-institutional accessibility cohort composed of academic institutions from the U.S. and Canada, I’ve had the opportunity to collaborate on shared goals around digital accessibility. This work involves exploring and testing new accessibility tools, sharing best practices, contributing to cohort-led projects, and supporting one another with our collective expertise.
            </p>
            <p>
                I led a sub-group focused on integrating automated accessibility (A11y) testing into software development and deployment pipelines. Through this initiative, I gained hands-on experience with Playwright, a modern frontend testing tool, and developed a <a href="https://github.com/Sruthin86/Playwright">GitHub repository</a> to demonstrate how accessibility testing can be embedded into continuous integration workflows.
            </p>
            <p>
                I shared my findings with the cohort, and the solution is now being used by developers at the University of Toronto Libraries, helping to improve accessibility testing practices beyond our own institution. This experience has been both technically enriching and deeply rewarding, as it contributes to a broader culture of inclusive and accessible software development.
            </p>
        </div>
    </div>
</Layout>