---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | Library Committees">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">Library Committees</h1>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Library Environmental Committee</h2>
            <p>
                Over the past two years, I have had the privilege of serving as Co-Chair of the Library Environmental Committee, a role that has been both professionally enriching and personally meaningful. In collaboration with Leah Morin, I led several key sustainability initiatives aimed at fostering environmental awareness and engagement within our library and the broader campus community. 
            </p>
            <p>
                Highlights of our work include organizing a series of impactful events for Earth Day 2025 such as collaborating with Jodi Colter for the Maple Syrup Tasting event at the MSU Library (Figure 1), coordinating educational tours of the MSU Recycling Center (Figure 2) and the MSU Organic Farm (Figure 3), and facilitating a collaborative relationship with the Sustainable Spartans student organization. These partnerships not only strengthened our programming but also laid the groundwork for future joint initiatives.
            </p>
            <p>
                One of the most rewarding aspects of my role was serving as a liaison between the committee and library leadership. I met regularly with the Dean of the Library to communicate our goals, share progress, and advocate for sustainable practices. I’m especially proud of our committee’s support for Eric Tans in pursuing the Sustainable Libraries Initiative Certification—an effort that could position our library as the first in the Big Ten Conference to achieve this distinction.
            </p>
            <p>
                Additionally, I took the initiative to archive historical committee documents, including meeting minutes and newsletters, to preserve our institutional memory and provide a valuable resource for future members. I also enjoyed contributing to public engagement efforts by introducing guest speakers and supporting Beal Garden tours as an on-the-ground coordinator (Figure 4).
            </p>
            <div class="grid grid-cols-2 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
                <Figure
                    path="/src/assets/images/maple.png"
                    alt="People tasting maple syrup in a library gathered around a table"
                    caption="Figure 1: Maple Syrup Tasting event at the MSU libraries"
                    width="100%"
                    height="100%"
                    />
                <Figure
                    path="/src/assets/images/recycling.png"
                    alt="People in a recycling center looking at the recycling process"
                    caption="Figure 2:Tour of the MSU Recycling Center"
                    width="100%"
                    height="100%"
                    />
            </div>
            <div class="grid grid-cols-2 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
                <Figure
                    path="/src/assets/images/farm.png"
                    alt="Potted plants in a farm"
                    caption="Figure 3: Tour of the MSU Student Organic Farm"
                    width="100%"
                    height="100%"
                    />
                <Figure
                    path="/src/assets/images/tour.png"
                    alt="People in a garden looking at the plants and listening to a speaker"
                    caption="Figure 4: Introducing speakers and volunteering at the Beal Garden tours"
                    width="100%"
                    height="100%"
                    />
            </div>
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Newsletter Committee</h2>
            <p>
                After joining the MSU Libraries Newsletter Committee, I contributed to developing and refine the newsletter submission form on the MSUL Intranet. My work focused on updating the interface monthly  newsletter and the search layout on the Intranet (Figure 5). 
            </p>
            <p>
                In addition to technical contributions, I volunteered several months each year to review and publish submitted newsletter articles. This year, I also served as the committee secretary, where I was responsible for maintaining meeting minutes and assisting with editorial tasks. 
            </p>
            <p>
                Austin Deneau and I took on the responsibility of making our newsletter emails accessible—ensuring that all staff, regardless of ability, can engage with the content. This work reflects our shared commitment to accessibility throughout our communications.
            </p>
             <div class="grid grid-cols-1 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
                <Figure
                    path="/src/assets/images/newsletter.png"
                    alt="A search form with newsletter articles and a submit button"
                    caption="Figure 5: Newsletter interface on the MSU Libraries Intranet"
                    width="100%"
                    height="100%"
                    />
            </div>
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Diversity Advisory Committee</h2>
            <p>
                The Diversity Advisory Committee experienced a dynamic and challenging year, particularly in light of leadership changes at the federal level that introduced uncertainty into many of our ongoing initiatives. Under the steady leadership of Janette Nunez and with the support of Alex Rivera, we responded by increasing the frequency of our meetings to maintain momentum and support one another through these transitions.
            </p>
            <p>
                One of the most meaningful accomplishments of the year was a donation drive I co-organized with Holly Cullerton. In November and December, we successfully collected and donated five boxes of baking supplies to the MSU Food Bank (Figure 6 & 7). This initiative not only supported students and community members facing food insecurity but also reinforced our committee’s commitment to equity, care, and tangible action.
            </p>
             <div class="grid grid-cols-2 mt-3 gap-3 bg-gray-800 bg-clip-padding rounded px-2">
                <Figure
                    path="/src/assets/images/donation1.png"
                    alt="A cardboard box filled with baking supplies"
                    caption="Figure 6: Baking supplies donation drive for the MSU Food Bank"
                    width="100%"
                    height="100%"
                    />
                <Figure
                    path="/src/assets/images/donation2.png"
                    alt="A cardboard box filled with baking supplies"
                    caption="Figure 7: Baking supplies donation drive for the MSU Food Bank"
                    width="100%"
                    height="100%"
                    />
            </div>
        </div>
        <div class="pb-4">
            <h2>Faculty Advisory Committee</h2>
            <p>
                I was fortunate enough to be a part of the Faculty Affairs Committee during AY 2023-24 and June of 2024 provided an incredible opportunity to understand the work and efforts of our amazing colleagues. Being on the committee expanded my knowledge of the incredible work that goes on in our library. As a committee we were responsible to read the evaluations of all our librarian colleagues and make recommendations to the dean based on their evaluations.
            </p>
        </div>
    </div>
</Layout>
        