---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | Mentorship">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">Mentorship</h1>
        <div class="pb-4">
            <h2>MSU Library Mentor/Mentee Program</h2>
            <p>
               I participated in the MSU Libraries mentorship program as a mentee and was matched with Emilia Marcyk-Taylor as my mentor. We had regular working meetings to receive mentorship and identified the following goals.
            </p>
            <ul>
                <li>Exploring networking opportunities with partners from around the campus.</li>
                <li>Understanding the Reference model at the MSU Libraries.</li>
                <li>Exploring avenues for contribution in outside organizations such as ALA, MiALA, Core Forum (a division of ALA), etc.</li>
                <li>Opportunities to work with students or community patrons to better understand their needs and contribute to their success.</li>
            </ul>
            <p>
                This program has been very helpful, as I was able to present at MiALA, ALA, forge professional relationships with members in the DLF organization, shadow reference librarians at the desk, and enlist students in the reference unit for UX testing. I'm very grateful to Emilia for her mentorship and support throughout the program.
            </p>
        </div>
    </div>            
</Layout>