---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | MSU Committees">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">MSU Committees</h1>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Software Carpentries and Programming in Practice Book Club</h2>
            <p>
                Programming in Practice is collaboration between DSL and ICER; I was part of the core committee that organized a bi-weekly programming club in the DSL where students, faculty and community members assembled and read the book Research Software Engineering with Python. This is a year-long program that started in Fall of 2024 and ends in April 2025. It was a fulfilling experience to help our students and community members with their programming questions and challenges and I’m looking forward to doing this again next fall.
            </p>
            <p>
                I was also actively involved in the planning and execution of the Software Carpentry Workshop held on May 6–7, 2025. As part of the organizing committee, I participated in regular planning meetings where we coordinated the program structure, scheduled sessions, and ensured a smooth experience for both instructors and attendees.
            </p>
            <p>
                In addition to planning, I also signed up for multiple helper sessions during the workshop. In these sessions, I assisted participants with coding challenges, offering real-time support and guidance as they worked through hands-on exercises. This role allowed me to contribute to a collaborative learning environment and help attendees build confidence in their technical skills
            </p>
        </div>
    </div>
</Layout>