---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | National Committees">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">National Committees</h1>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>ALA Core Web Committee</h2>
            <p>
                I joined the ALA core web committe in Fall 2024. Joining the ALA Core web committee was an incredibly welcoming experience. It was nice to see friendly faces that I know from the MSU Library and from past ALA Core conferences. I felt a strong sense of camaraderie and support. The committee members were eager to learn about my background and how my Drupal technical expertise could benefit their website.
            </p>
            <p>
                During our initial meetings, I was encouraged to share my ideas and suggestions, and they were eager to listen to my experience migrating from Drupal 7 to Drupal 10. The ALA core team were open to exploring new approaches to enhance the website's functionality and user experience. This collaborative environment allowed me to quickly gain an understanding of their needs and jump right into action.
            </p>
            <p>
                I worked closely with other committee members who trained me on using their Drupal setup and my technical skills in Drupal were leveraged to clean up the Awards and Scholarships page (<a href="https://www.ala.org/core/awards-scholarships/margaret-mann-citationq">https://www.ala.org/core/awards-scholarships/margaret-mann-citation</a>). I was also able to lend my experience to fix some of the Accessibility issues on this page.
            </p>
            <p>
                Overall, my experience with the ALA Core web committee was both rewarding and fulfilling, and I’m already on the list to serve as a co-chair next year
            </p>  
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Digital Library Federation Review Committee</h2>
            <p>
                During the 2023–2024 academic year, I served as a volunteer on the proposal review committee for the Digital Library Federation (DLF) Conference, which was hosted at Michigan State University in 2024. As a member of the committee, I was responsible for evaluating submitted proposals and helping to select the sessions that would be featured at the conference. This role involved thoughtful consideration of each submission’s relevance, innovation, and potential impact on the digital library community.
            </p>
        </div>
        <div class="pb-4">
            <h2>Digital Library Federation Local Organizing Committee</h2>
            <p>
                As a member of the local organizing committee for the 2024 Digital Library Federation (DLF) Conference, hosted by MSU Libraries in East Lansing from July 29–31, I played an active role in planning and executing the event. Our committee met monthly to coordinate the many logistical details required to host a successful national conference.
            </p>
            <p>
                My responsibilities included designing signage, developing a wayfinding guide to help attendees navigate the MSU campus, and compiling a curated list of local activities and eateries for visitors. I also provided on-the-ground support during the conference, guiding participants between the library and various dining halls to ensure a smooth and welcoming experience.
            </p>
        </div>
    </div>
</Layout>