---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | Position Description">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">Position Description</h1>
        <div class="pb-4">
            <p>
              As a UX Librarian for the MSU Libraries, the incumbent collaborates on a wide range of design, development, assessment, usability and accessibility testing for various projects, and supports the MSU Libraries’ strategic plan by engaging and strengthening the MSU Library community. The Librarian supports research, teaching, and learning in our local and global community. This Librarian brings energy and enthusiasm for creating, measuring, and improving the user-focused physical and digital spaces, services and collections of the MSU Libraries. This Librarian also has a quarter-time assignment in Library Accessibility, assisting with library accessibility initiatives and efforts.
            </p>
            <p>Job Duties &  Responsibilities:</p>
            <ul>
                <li>Collaborates on the full range of user experience and assessment projects to evaluate the usage, service quality, impact, and value of the MSU Libraries’ physical and digital spaces,services, and collections.</li>
                <li>Collaborates on the development, management, and maintenance of the MSU Library website, including creation of Drupal modules and features, interface design, and implementation of usability and accessibility improvements as identified by usability and accessibility testing.</li>
                <li>Designs and develops custom applications as requested by Library units.</li>
                <li>Maintains web analytics programs such as Matomo and Google analytics, and uses data from these programs to influence decision making and strategic planning.</li>
                <li>Participates in the activities of the User Experience unit to communicate and collaborate on user experience projects across library divisions and units.</li>
                <li>Collaborates and leads accessibility initiatives, evaluating and improving the usability and accessibility of the Libraries’ physical and digital services.</li>
                <li>Engages stakeholders to prioritize feature requests, recommendations, and bug fixes.</li>
                <li>Acts as the library’s advocate for user experience and assessment, building a network of assessment professionals, and collaborates with these colleagues both on the MSU Campus, and in the BTAA and ARL communities.</li>
                <li>Participates in professional development and scholarly activities, and serves on various Library and University committees as elected, appointed, or assigned.</li>
                <li>Identifies opportunities to share knowledge via presentations, workshops, etc.  to the local and global UX and Library communities.</li>
                <li>Contributes to library accessibility initiatives and efforts like: usability/accessibility projects, accessibility evaluations, staff training, education, and communication; etc.</li>
                <li>Attends Libraries’ Accessibility Working Group and other campus accessibility meetings as desired/needed.</li>
            </ul>
        </div>
    </div>            
</Layout>