---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---
<Layout title="Sruthin Gaddam | References">
    <div class="prose max-w-none">
        <h1 class="text-3xl font-bold mb-8">References</h1>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Craig Gross, Ph.D</h2>
            <dl>
                <dt class="font-bold">Title</dt>
                <dd style="padding: 0;">Research Consultant</dd>
                <dt class="font-bold">Institution</dt>
                <dd style="padding: 0;">MSU Institute for Cyber-Enabled Research</dd>
                <dt class="font-bold">Email</dt>
                <dd style="padding: 0;"><a href="mailto:grosscra@msu.edu">grosscra@msu.edu</a></dd>
            </dl>
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Emilia Marcyk-Taylor</h2>
            <dl>
                <dt class="font-bold">Title</dt>
                <dd style="padding: 0;">Head of Reference & Discovery Services</dd>
                <dt class="font-bold">Institution</dt>
                <dd style="padding: 0;">MSU Libraries</dd>
                <dt class="font-bold">Email</dt>
                <dd style="padding: 0;"><a href="mailto:marcyk@msu.edu">marcyk@msu.edu</a></dd>
            </dl>
        </div>
        <div class="border-b-4 border-b-gray-700 pb-4">
            <h2>Heidi Schroeder</h2>
            <dl>
                <dt class="font-bold">Title</dt>
                <dd style="padding: 0;">Head of Accessibility</dd>
                <dt class="font-bold">Institution</dt>
                <dd style="padding: 0;">MSU Libraries</dd>
                <dt class="font-bold">Email</dt>
                <dd style="padding: 0;"><a href="mailto:hschroed@msu.edu">hschroed@msu.edu</a></dd>
            </dl>
        </div>
        <div class="pb-4">
            <h2>Stephanie E, Vasko, Ph.D</h2>
            <dl>
                <dt class="font-bold">Title</dt>
                <dd style="padding: 0;">Managing Director of the MSU Center for Interdisciplinarity</dd>
                <dt class="font-bold">Institution</dt>
                <dd style="padding: 0;">MSU Collage of Arts & Letters</dd>
                <dt class="font-bold">Email</dt>
                <dd style="padding: 0;"><a href="mailto:vaskoste@msu.edu">vaskoste@msu.edu</a></dd>
            </dl>
        </div>
    </div>            
</Layout>