---
import Layout from "@/layouts/Layout.astro";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Figure from "@/components/ui/Figure.astro";
import ProfilePictures from '@/assets/profile_pictures.png'
import ButtonLink from "@/components/ui/ButtonLink.astro";
---

<Layout title="Sruthin Gaddam | TIC Website Development">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">TIC Website Development</h1>

    <div class="mb-12">
    
    </div>
  </div>
</Layout>